.textarea {
    placeholder: "Type name here..";
}

#desc_input {
    border: 1px solid #888;
}

#row_div {
    display: inline-block;
    width: 60px;
    padding-right: 30px;
    padding-left: 30px;
}

#col_div {
    width: 60px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

#choose_side {
    float: left;
}

#location {
    border: solid 1px black;
    width: 300px;
    overflow: auto;
    padding: 30px;
}