header
{
    
}

h1
{
    padding: 15px;
    margin: 0;
    
}

body
{
    padding: 0;
    margin: 0;
    
}

.headerContainer
{
    padding: 0;
    margin: 0;
    width:100%;
    height:28%;
    height:auto;
overflow:auto;
}

.headerLogo
{
    width:150px;
    height:100px;
    padding: 0;
    margin: 0; 
    float:left;
    height:auto;
}

footer
{

}
