body{
    font-family: "Gill Sans", "Gill Sans MT", Arial, Helvetica, sans-serif;
    padding:0; 
    margin:0;
}
header{
    background-color: #488D83;
    margin: 0;
    padding: 0;
    border: 1px solid #488D83; 
}
.content{
    margin: 5px;
}
nav>ul{
list-style: none;
padding: 0;
margin: 0;
}
nav ul li{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
nav ul li a{
    color: #DDEAF2;
    text-decoration: none;
    display: inline-block;
    width: 100%; 

}
.banner{
    background-image: url(../images/banner1-600.jpg);
    background-repeat: no-repeat;
    height: 120px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
.container {
    border-radius: 5px;
    background-color: #FF3633;
    padding: 20px;
    width: 100%;
}
